@require './animate'
// reset css styles
*, *:before, *:after
    box-sizing: border-box
body
    margin: 0
    background-color: var(--bg-color)
    font-size: 14px
    color: var(--main-color)
    transition: color 0.3s ease
    overflow-x: hidden
    font-family: -apple-system, system-ui, DinPro, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial
ul, li
    margin: 0
    padding: 0
    list-style: none
a
    text-decoration: none
    text-decoration-color: inherit
    color: inherit