// 只在这个文件中定义变量
// 默认预设 的样式进行简单的替换，或者定义一些变量供以后使用

// 自定义变量
// color
$mainColor = #281405
$bgColor = #F9F5F0
$font-size-lg = 22px
$font-size-md = 18px
$font-size-nor = 16px
$font-size-sm = 14px
$font-size-mini = 12px
