// 只在这个文件中定义变量
// 默认预设 的样式进行简单的替换，或者定义一些变量供以后使用

// 自定义变量
// color
$mainColor = #281405
$bgColor = #F9F5F0
$font-size-lg = 22px
$font-size-md = 18px
$font-size-nor = 16px
$font-size-sm = 14px
$font-size-mini = 12px
// 浅色模式
.light-mode
    --body-bg: #f4f4f4
    --bg-color-op4: rgba(247, 249, 251, 40%)
    --bg-color-op5: rgba(247, 249, 251, 50%)
    --bg-color-op6: rgba(247, 249, 251, 60%)
    --bg-color-op7: rgba(247, 249, 251, 70%)
    --bg-color-op8: rgba(247, 249, 251, 80%)
    --bg-color-op9: rgba(247, 249, 251, 90%)
    --main-bg: rgba(255, 255, 255, 1)
    --sidebar-bg: rgba(255, 255, 255, 0.8)
    --blur-bg: rgba(255, 255, 255, 0.9)
    --custom-block-bg: #f1f1f1
    --text-color: rgba(18, 31, 56, 0.8)
    --text-lighten-color: #e83a11
    --border-color: rgba(0, 0, 0, 0.15)
    --code-bg: #f0f1f3
    --code-color: #525252
// 深色模式
.dark-mode
    --body-bg: rgb(39, 39, 43)
    --main-bg: rgba(30, 30, 34, 1)
    --sidebar-bg: rgba(30, 30, 34, 0.8)
    --blur-bg: rgba(30, 30, 34, 0.8)
    --custom-block-bg: rgb(39, 39, 43)
    --text-color: rgb(155, 155, 170)
    --text-lighten-color: #e83a11
    --border-color: #2C2C3A
    --code-bg: #252526
    --code-color: #fff
